<div class="field">
    <label>{{label}}</label>
    <input [type]="type" [formControl]="control" /> 
    <div *ngIf="showErrors()"class="ui pointing red basic label">
        <p *ngIf = "control.hasError('required')">
            Value is required
        </p>
        <p *ngIf = "control.hasError('minlength')">
            Value you enter is:
            {{control.errors?.['minlength'].actualLength}}
            characters long but must be at least:
            {{control.errors?.['minlength'].requiredLength}}
            characters
        </p>
        <p *ngIf = "control.hasError('maxlength')">
            Value you enter is:
            {{control.errors?.['maxlength'].actualLength}}
            characters long but cannot be longer than
            {{control.errors?.['maxlength'].requiredLength}}
            characters
        </p>
        <p *ngIf = "control.hasError('pattern')">
            Invalid format
        </p>
        <p *ngIf = "control.hasError('nonUniqueUsername')">
            Username is taken
        </p>
        <p *ngIf = "control.hasError('noConnection')">
            No internet connection
        </p>
    </div>
</div>
